<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="body">
    
    <div class="tic-tac-toe">
        <h1 class="header">Tic-Tac-Toe Game</h1>

        <form id="settings-form">
            <label for="player1">Choose mark:</label>
            <div>
                <input type="radio" id="x" name="player1" value="X">
                <label for="X">X</label>
            </div>
            <div>
                <input type="radio" id="o" name="player1" value="O">
                <label for="O">O</label>
            </div>
            <input type="submit" value="Submit">
        </form>
        
        <div class="grid disabled" id="grid">
            <div class="row">
                <div class="cell" id="cell-0"></div>
                <div class="cell" id="cell-1"></div>
                <div class="cell" id="cell-2"></div>
            </div>
    
            <div class="row">
                <div class="cell" id="cell-3"></div>
                <div class="cell" id="cell-4"></div>
                <div class="cell" id="cell-5"></div>
            </div>
    
            <div class="row">
                <div class="cell" id="cell-6"></div>
                <div class="cell" id="cell-7"></div>
                <div class="cell" id="cell-8"></div>
            </div>
        </div>

    </div>
    <button id="reset-button">Reset Game</button>
    <script src="/static/js/script.js"></script>
</body>
</html>
