<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body class="body">
    <div class="tic-tac-toe">
        <h1 class="header">Tic-Tac-Toe Game</h1>

        <form action="/submit" method="post" id="settings-form">
            <label for="player1">Choose mark:</label>
            <div>
                <input type="radio" id="x" name="player1" value="X">
                <label for="x">X</label>
            </div>
            <div>
                <input type="radio" id="o" name="player1" value="O">
                <label for="o">O</label>
            </div>
            <input type="submit" value="Submit" id="submit-button">
        </form>
        
        <div class="grid disabled" id="grid">
            {% for row in range(3) %}
            <div class="row">
                {% for col in range(3) %}
                <div class="cell {% if board[row][col] == 'X' %}x-mark{% elif board[row][col] == 'O' %}o-mark{% endif %}" id="cell-{{ loop.index0 + row * 3 }}">
                    {{ board[row][col] }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        
    </div>
    <button id="reset-button">Reset Game</button>
    <script src="/static/js/script.js"></script>
</body>

</html>
